hw3/data_classifications_scaled.csv
hw3/data_features_scaled.csv
hw3/data_raw.csv
hw3/data_scaled.csv
hw3/expr_1_data_1_0-8
hw3/expr_1_data_1_0-8~
hw3/expr_1_data_2_0-9
hw3/expr_1_data_2_0-9~
hw3/expr_1_data_3_0-9
hw3/expr_1_roc_1_0-08.png
hw3/expr_1_roc_1.png
hw3/expr_1_roc_2_0-9.png
hw3/expr_1_roc_3_0-9.png
hw3/expr_2_1.png
hw3/expr_2_2.png
hw3/expr_2_3.png
hw3/expr_2_4.png
hw3/expr_3_1.png
hw3/expr_3_2.png
hw3/expr_3_3.png
hw3/feature_freq

hw4/data_raw.csv
